{% extends 'core/base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
<div id="productapp">
    {% if product.image %}
        <figure class="image is-4by3 mb-6">
            <img :src="mainImage.image">
        </figure>
    {% endif %}

    {% if product.images.all %}    
        <hr>

        <div class="columns">
            <div class="column is-2" v-for="image in images" v-bind:key="image.id">
                <img :src="image.thumbnail" @click="changeMainImage(image)">
            </div>
        </div>
    {% endif %}

    <h1 class="title">{{ product.title }}, ${{ product.price }}</h1>

    <p class="mb-6"><span class="tag is-dark">{{ product.vendor.name }}</span></p>

    <p>{{ product.description }}</p>

    <hr>

    {% if messages %}
        {% for message in messages %}
            <div class="notification is-success is-toast">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" action=".">
        {% csrf_token %}

        <div class="field has-addons">
            <div class="control">
                <input type="number" name="quantity" value="1" class="input" min="1">
            </div>

            <div class="control">
                <button class="button is-dark is-uppercase">Add to cart</button>
            </div>
        </div>
    </form>

    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar products</h2>
            </div>

            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ imagesstring|json_script:"json-imagesstring" }}
<script src="https://unpkg.com/vue@next"></script>
<script>
    const ProductApp = {
        data() {
            return {
                mainImage: '',
                images: []
            }
        },
        mounted() {
            this.images = JSON.parse(JSON.parse(document.getElementById("json-imagesstring").textContent))
            this.mainImage = this.images[0]
        },
        methods: {
            changeMainImage(image) {
                this.mainImage = image
            }
        }
    }

    Vue.createApp(ProductApp).mount('#productapp')
</script>
{% endblock %}